<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:site_name" content="GIPHY">
  <meta property="og:url" content="https://media4.giphy.com/media/lmju1OmET93mzzuiee/giphy.gif">
  <meta property="og:title" content="Goat GIF by UC Davis - Find &amp; Share on GIPHY">
  <meta property="og:description" content="UC Davis is the home of the Aggies - go-getters, change makers and problem solvers who make their mark at one of the top public universities in the United States.">
  <meta property="og:type" content="video.other">
  <meta property="og:image" content="https://media4.giphy.com/media/lmju1OmET93mzzuiee/giphy.gif">
  <meta property="og:image:type" content="image/gif">
  <meta property="og:image:width" content="480">
  <meta property="og:image:height" content="270">
  <meta property="og:video" content="https://media4.giphy.com/media/lmju1OmET93mzzuiee/giphy.mp4">
  <meta property="og:video:url" content="https://media4.giphy.com/media/lmju1OmET93mzzuiee/giphy.mp4">
  <meta property="og:video:secure_url" content="https://media4.giphy.com/media/lmju1OmET93mzzuiee/giphy.mp4">
  <meta property="og:video:type" content="video/mp4">
  <meta property="og:video:width" content="480">
  <meta property="og:video:height" content="270">
  <title>Random Goat Gif</title>
</head>

<body>
  <img src="{{imageUrl}}" alt="">
</body>

</html>
