<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:site_name" content="Tenor">
  <meta property="og:url" content="{{imageGiphy}}">
  <!-- <meta property="og:title" content="Random Goat Gif">
  <meta property="og:description" content="{{imageDescription}}"> -->

  <meta property="og:type" content="video.other">
  <meta property="og:image" content="{{imageUrl}}" />
  <meta property="og:image:type" content="image/gif">
  <meta property="og:image:width" content="{{imageWidth}}">
  <meta property="og:image:height" content="{{imageHeight}}">
  <meta property="og:video" content="{{videoUrl}}">
  <meta property="og:video:url" content="{{videoUrl}}">
  <meta property="og:video:secure_url" content="{{videoUrl}}">
  <meta property="og:video:type" content="video/mp4">
  <meta property="og:video:width" content="{{imageWidth}}">
  <meta property="og:video:height" content="{{imageHeight}}">
  <link rel="stylesheet" href="/css/style.css">
  <title>Random Goat Gif</title>
</head>

<body>
  <img src="{{imageUrl}}" alt="{{imageDescription}}">
</body>

</html>
