body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.alert {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem 1.5rem;
  background-color: red;
  color: white;
  border-radius: 2px;
  margin: 0.5rem 0;
}
